body {
	margin      : 0px;
	padding     : 0px;
	user-select : none;
	overflow    : hidden;
}

.dropdown.open > .dropdown-menu { display: block; }

#controls {
	pointer-events : none;
	touch-actions  : none;
	position : fixed;
	width    : 100%;
	height   : 100%;
	left     : 0px;
	top      : 0px;
}

#sidebar,
#colors,
#left-btns,
#right-btns {
	pointer-events : initial;
	touch-actions  : initial;
	position       : absolute;
}

#colors     > .btn,
#left-btns  > .btn,
#right-btns > .btn {
	display: inline-block;
	font-size: 1.2em;
	cursor: pointer;
	border-radius: 50%;
	border: 2px solid #000000;
	background: #ffffff;
	margin: 2px;
	padding: .75em;
}
#colors     .dropdown-toggle::after,
#left-btns  .dropdown-toggle::after,
#right-btns .dropdown-toggle::after {
	display: none;
}

#colors     > .btn > .oi,
#left-btns  > .btn > .oi,
#right-btns > .btn > .oi {
	display : inline-block;
	width   : 1.3em;
	height  : 1.3em;
	top     : 3px;
}

	
#colors     > .btn.active,
#left-btns  > .btn.active,
#right-btns > .btn.active {
	margin       : 1px;
	border-width : 3px;
	box-shadow   : 0px 0px 25px #000000;
}

#colors {
	width        : 100%;
	bottom       : 0px;
	margin-left  : auto;
	margin-right : auto;
	text-align   : center;
}
#colors .color {
	color: transparent;
}

#left-btns {
	top: 0px;
	left: 0px;
}

#right-btns {
	top: 0px;
	right: 0px;
}

#sidebar {
	position       : fixed;
	left           : 0px;
	top            : 0px;
	bottom         : 0px;
	width          : 50%;
	padding-top    : 4em;
	padding-bottom : 4em;
	box-shadow: 5px 0px 50px #29292963;
	background-color: #ffffffbf;
	border-right: 2px solid #a4a4a4;
	overflow: auto;
}
#sidebar > .col-12 > h5 {
	margin-bottom: -3px;
}
#sidebar input {
	outline: none;
	box-shadow: none;
}
